* {
	margin:0;
	padding:0;
}

#wrapper {
	width:960px;
    margin-left:auto;
	margin-right:auto;
}

#content {
	margin-top:50px;
	padding:50px;
}

#nav h1 {
	color:blue;
	margin:50px;
	float:left;
}

a {
	text-decoration:none;
	color:black;
}

a:hover {
	color:blue;
}

#nav ul {
	list-style:none
	
	
}

 ul {
	float:right;
 }
 
 li {
	 padding:50px;
	 display:inline;
	 float:left;
 }